body {
    font-family: "Lato", Arial, Helvetica, "Sans Serif";
    font-size: 22px;
    background-color: #414042;
    color: #ffffff;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", "Serif";
}

p {
    line-height: 32px;
}

#newton-image {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#newton-formula {
    font-size: 32px;
}

#human-image {
    margin-left: 20px;
    width: 128px;
}

#planets {
    width: 100%;
    background-color: #000000;
}

#selected-planet {
    width: 100%;
    padding: 20px 0;
    background-color: #000000;
    text-align: center;
    display: none;
}

#planets img {
    opacity: 0.7;
    cursor: pointer;
}

#planets img:hover {
    opacity: 1;
}

#planets-scale {
    font-size: 16px;
    margin: 4px;
    color: #414042;
}

#planets-scale:hover {
    color: #FFF5D2;
}

#second-object {
    position: relative;
}

#reset-planet {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#what {
    background-color: #222222;
    padding-top: 40px;
    padding-bottom: 20px;
}

.objects img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.objects p {
    margin: 0;
    padding: 44px 0 66px 0;
}

#first-distance {
    padding: 0;
}

#large-objects {
    display: none;
    padding-top: 22px;
}

#medium-objects {
    display: none;
    padding-top: 22px;
    background-color: #84BEC2;
    color: #FFF5D2;
}

#large-animals {
    display: none;
    padding-top: 22px;
    background-color: #CDE2BA;
    color: #414042;
}

.name {
    font-weight: bold;
}

.kg {
    display: block;
    margin-top: 22px;
    font-size: 130%;
}

.distance {
    display: block;
    margin-top: 22px;
    font-size: 0px;
    font-weight: bold;
    transition: font 0.3s ease 0s;
}

.show {
}

.hide {
    display: none;
}

.footer {
    padding: 50px 20px 20px 20px;
    font-size: 14px;
    line-height: 18px;
    color: #888;
}

.footer p {
    margin: 0;
}

.footer .title-large {
    font-weight: bold;
    font-size: 16px;
    padding-top: 30px;
}

.footer .title {
    font-weight: bold;
    padding-top: 30px;
}

.footer a {
    color: #888;
}

.footer a:visited {
    color: #888;
}

.footer a:hover {
    color: #FFF5D2;
}

#large-objects .more a {
    color: #FFF5D2;
    text-decoration: none;
}

#large-objects .more a:visited {
    color: #FFF5D2;
}

#large-objects .more a:hover {
    color: #FFF5D2;
    text-decoration: underline;
}

#medium-objects .more a {
    color: #FFF5D2;
    text-decoration: none;
}

#medium-objects .more a:visited {
    color: #FFF5D2;
}

#medium-objects .more a:hover {
    color: #FFF5D2;
    text-decoration: underline;
}

#large-animals .more a {
    color: #414042;
    text-decoration: none;
}

#large-animals .more a:visited {
    color: #414042;
}

#large-animals .more a:hover {
    color: #414042;
    text-decoration: underline;
}

/* TODO use media queries to arrange the planets differently for different screen widths */
@media screen and (max-width: 1000px) {
    #planets { text-align: center; }
    #planets-scale { display: block; text-align: right; }
}
/*
@media screen and (min-width: 930px) and (max-width: 1000px) {
    #planets { position: relative; height: 1000px }
    #planets img { position: absolute; }
    #planet-mercury { left: 0px; top: 870px; }
    #planet-venus { left: 19%; top: 651px; z-index: 2}
    #planet-mars { left: 70%; top: 794px; z-index: 3}
    #planet-jupiter { left: 44%; top: 276px; z-index: 1}
    #planet-saturn { left: -20px; top: 48px; }
    #planet-uranus { left: 57%; top: 127px; }
    #planet-neptune { left: 72%; top: 16px; }
    #planet-pluto { left: 91%; top: 32px; }
}
*/
@media screen and (min-width: 1000px) {
    #planets { position: relative;  height: 800px; }
    #planets img { position: absolute; }
    #planet-mercury { left: 0px; top: 670px; }
    #planet-venus { left: 13%; top: 451px; }
    #planet-mars { left: 50%; top: 552px; z-index: 1}
    #planet-jupiter { left: 61%; top: 224px; }
    #planet-saturn { left: -20px; top: 123px; }
    #planet-uranus { left: 57%; top: 71px; }
    #planet-neptune { left: 75%; top: 16px; }
    #planet-pluto { left: 91%; top: 32px; }
    #planets-scale {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.question-2 {
    display: none;
}

.clear-both {
    clear: both;
    overflow: hidden;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.small {
    font-size: 70%;
}

.large {
    font-size: 130%;
}

.color-2 {
    color: #FFF5D2;
}

#btw-1 {
    display: none;
}

#btw-2 {
    display: none;
}

#btw-3 {
    display: none;
}

#btw-4 {
    display: none;
}

#btw-5 {
    display: none;
}

#share {
    line-height: 32px;
}

#social {
    font-size: 150%;
    color: #FFF5D2;
    padding: 4px;
}