body {
    font-family: "Lato", Arial, Helvetica, "Sans Serif";
    font-size: 18px;
    background-color: #414042;
    color: #ffffff;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", "Serif";
}

p {
    line-height: 28px;
}

#newton-image {
    float: left;
    margin-right: 20px;
}

#newton-formula {
    font-size: 32px;
}

#human-image {
    margin-left: 20px;
    width: 128px;
}

#planets {
    width: 100%;
    position: relative;
    background-color: #000000;
    height: 800px;
}

#selected-planet {
    width: 100%;
    background-color: #000000;
    text-align: center;
    display: none;
}

#planets img {
    position: absolute;
    opacity: 0.7;
}

#planets img:hover {
    opacity: 1;
}

#planets-scale {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    margin: 4px;
    color: #414042;
}

#planets-scale:hover {
    color: #fff5d2;
}

/* TODO use media queries to arrange the planets differently for different screen widths */
#planet-mercury { left: 0px; top: 670px; }
#planet-venus { left: 128px; top: 451px; }
#planet-mars { left: 498px; top: 552px; z-index: 1}
#planet-jupiter { left: 610px; top: 224px; }
#planet-saturn { left: -20px; top: 123px; }
#planet-uranus { left: 571px; top: 71px; }
#planet-neptune { left: 752px; top: 16px; }
#planet-pluto { left: 916px; top: 32px; }

#question-2 {
    display: none;
}

.clear-both {
    clear: both;
    overflow: hidden;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.center {
    text-align: center;
}
